html {
    font-size: 80%;
}

p {
    margin-bottom: 0.5rem;
}

.table td,
.table th {
    padding: 0.2rem;
}

.highlighted td {
    background-color: #d0d0d0;
}

.nav-tabs .nav-link {
    color: #000000;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link:hover {
    font-weight: bold;
    color: #000000;
}
