html {
    font-size: 80%;
}

p {
    margin-bottom: 0.5rem;
}

span {
    display: inline-block;
}

.level {
    width: 20rem;
}
.coords {
    color: #808080;
    font-size: 0.8rem;
    text-align: end;
}
.coord {
    width: 0.8rem;
}

.table-col {
    width: 4rem;
    text-align: end;
}

.table td,
.table th {
    padding: 0.2rem;
}
.table tbody tr {
    height: 1.2rem;
}
.highlighted {
    background-color: #e0e0e0;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    color: #000000;
}

.clickthrough {
    pointer-events: none;
}

.alert {
    border-radius: 0;
}
